{{#partial "content"}}

    <div class="center">
        <h1>{{entry.title}}</h1>
        <h3>{{entry.summary}}</h3>
    </div>
    <p class="reveal-whitespace">{{entry.body}}</p>


    <form class="center" action="/edit/{{entry.slug}}" method="get">
        <button class="button">Edit Blog Entry</button>
    </form>

    <ul>
        {{#each entry.comments}}
            <li>
                <span class="entry-comment">{{body}} - {{userName}} ({{creationDate}})</span>
            </li>
        {{/each}}
    </ul>

    <form action="/detail/{{entry.slug}}" method="post">
        <input class="input-field" type="text" placeholder="Username" name="userName">
        <input class="input-field" type="text" placeholder="Comment" name="body">
        <br/>
        <button class="button">Add Comment</button>
    </form>


    <form class="downstream center" action="/index" method="get">
        <button class="button">Return to Homepage</button>
    </form>
{{/partial}}

{{> base.hbs}}