{{#partial "content"}}
    <h1>Current Blog Posts</h1>
    <ul class="entries-list">
        {{#each blogEntries}}
            <li class="entry-list-item">
                <a class="link entry-list-title" href="/detail/{{slug}}">{{title}}</a>
                <br/>
                <span class="entry-list-summary">{{summary}}</span>
                <br/>
                <span class="date-time-line"> (created on {{displayableDate}} at {{displayableTime}})</span>
            </li>
        {{/each}}
    </ul>
    <br/>
    <form class="center" method="get" action="/new">
        <button class="button">Create a New Post</button>
    </form>

{{/partial}}
{{> base.hbs}}